/* PrimaryTitle */
.heading05 {
	position: relative;
	padding-bottom: 50px;
	font-size: 50px;
	text-align: center;
}

.heading05::before {
	content: attr(data-en);
	display: block;
	color: #679fff;
	font-size: 30px;
	font-style: italic;
	text-transform: uppercase;
}

/* SecondaryTitle */
.mini_title{
  height:80px;
  width: 100%;
  background-color:#b03330;
  margin-bottom:30px;
  border-radius:0px 35px 35px 0px;
  display: flex;
  justify-content: start;
  color:white;
  padding: auto;


  vertical-align: bottom;
}

.mini_title div{
  margin: auto 0px;
}

.mini_title h2{
  margin-left:10px;
  font-size:3em; 
  text-align: bottom;
}

.mini_title h2 span {
  margin-left:10px;
  text-align: bottom;
  font-size:0.5em;
}

.mini_title_text span{
  font-size:1px; 
}

/* TertiaryTitle */