/* 種族一覧 */
.species_main{
  width: 100%;
}

.species_title{
  font-size: 40px;
  text-align: center;
  align-items:flex-end;
  margin-bottom: 30px;
}

/* メインタイトル */
.heading05 {
	position: relative;
	padding-bottom: 50px;
	font-size: 50px;
	text-align: center;
}

.heading05::before {
	content: attr(data-en);
	display: block;
	color: #679fff;
	font-size: 30px;
	font-style: italic;
	text-transform: uppercase;
}

.mini_title{
  height:80px;
  width: 100%;
  background-color:#b03330;
  margin-bottom:30px;
  border-radius:0px 35px 35px 0px;
  display: flex;
  justify-content: start;
  color:white;
  padding: auto;


  vertical-align: bottom;
}

.mini_title div{
  margin: auto 0px;

}


.mini_title h2{
  margin-left:10px;
  font-size:3em; 
  text-align: bottom;
}

.mini_title h2 span {
  margin-left:10px;
  text-align: bottom;
  font-size:0.5em;
}

.mini_title_text span{
  font-size:1px; 
}

.species_grid{
  display: flex;
  flex-wrap: wrap;
}

.grid_item{
width: 100%;
}


.image{
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(38, 34, 34, 0.33);

}

.grid_item:hover{
  transform: scale(1.05); 
  height: auto;
  transition: transform .1s ease; 
}

.grid_item:hover .image:nth-of-type(1){
  display: none;

}

.grid_item .image:nth-of-type(2){
  display: none;

}

.grid_item:hover .image:nth-of-type(2){
  display: block;

}


@media (max-width: 1024px) {

  .mini_title{
    width: 100%;
  }

  /* .species_grid{
    padding: 0px 10px;
  } */

  /* .grid_item{


    width:calc((100% / 3) - (1.5em / 3));
  }

  .species_grid .grid_item:nth-child(5n-1),
  .species_grid .grid_item:nth-child(5n-2),
  .species_grid .grid_item:nth-child(5n-3),
  .species_grid .grid_item:nth-child(5n-4)
  {
    margin: 0px 0px 50px 0px;
  }

  .species_grid .grid_item:nth-child(3n-1),
  .species_grid .grid_item:nth-child(3n-2)
  {
    margin: 0px calc(1.5em / 2) 50px 0px;
  } */
}
