/* 種族一覧 */
.species_main{
  width: 100%;
}

.species_title{
  font-size: 40px;
  text-align: center;
}

.mini_title{
  height:70px;
  width: 100%;

  background-color:#b03330;
  margin-bottom:30px;
  border-radius:0px 35px 35px 0px;
}

.mini_title_text{
  margin-left:10px;
  font-size:2em; 
  color:white;
}

.species_grid{
  display: flex;
  flex-wrap: wrap;
}

.grid_item{
  width:calc(100% / 5 - 50px / 5);
}

.grid_item{
  text-align: center;
}

.species_grid .grid_item:nth-child(5n-1),
.species_grid .grid_item:nth-child(5n-2),
.species_grid .grid_item:nth-child(5n-3),
.species_grid .grid_item:nth-child(5n-4)
{
  margin: 0px calc(50px / 4) 50px 0px;
}

@media (max-width: 1024px) {

  .mini_title{

    width: 100%;

  }

  .species_grid{
    padding: 0px 5px;
  }

  .grid_item{

    width:calc((100% / 3) - (1.5em / 3));
  }

  .species_grid .grid_item:nth-child(5n-1),
  .species_grid .grid_item:nth-child(5n-2),
  .species_grid .grid_item:nth-child(5n-3),
  .species_grid .grid_item:nth-child(5n-4)
  {
    margin: 0px 0px 50px 0px;
  }

  .species_grid .grid_item:nth-child(3n-1),
  .species_grid .grid_item:nth-child(3n-2)
  {
    background-color: #b03330;
    margin: 0px calc(1.5em / 2) 50px 0px;
  }
}
